.app {
    height: 100vh;
    width: 100vw;

}

.header-height {
    height: 10%;
}

.app-body {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.left-side-bar-size {
    width: 20%;
    height: 100%;
}

.main-content-size {
    width: 80%;
    height: 100%;
}

.dark-background {
    background: rgb(28, 28, 28);
}
