.app {
    height: 100vh;
    width: 100vw;

}

.header-height {
    height: 10%;
}

.app-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-side-bar-size {
    width: 20%;
    height: 100%;
}

.main-content-size {
    width: 80%;
    height: 100%;
    overflow: scroll;
}

.main-content-header {
    height: 8%;
    background: rgb(38, 38, 38);
    margin: 0.6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: tomato;
    font-size: 2em;
}

.main-content-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
}

.dark-background {
    background: rgb(28, 28, 28);
    border-top: 0.5em solid rgb(38,38,38);
}

.icon-div {
    cursor: pointer;
}

.info-div-style {
    color: black;
    width: 50%;
    border: 1px solid grey;
    padding: 1em;
    margin-top: 0.5em;
    text-align: justify;
    background: grey;
    border-radius: 5px;
}

.text-color {
    color: rgb(200, 200, 200)
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}